<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Landing Page</title>
</head>

<body>
    <section class="container">
        <nav>
            <div>
                <h1>OPOVO Online</h1>
            </div>
            <div>
                <ul>
                    <li>Sobre</li>
                    <li>Vídeo</li>
                    <li>Propósito</li>
                    <li>Diversidade</li>
                    <li>Valores</li>
                    <li>Áreas de Atuação</li>
                    <li>Depoimentos</li>
                    <li>Vagas</li>
                </ul>
            </div>
        </nav>
        <div class="container">

        </div>
        <footer>
            <div>

            </div>
        </footer>
    </section>
</body>

</html>