body {
    max-width: 1926px;
}

.ul-nav {
    gap: 10px;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.padrao {
    color: white;
    align-self: center;
    margin: 0;
    padding: 5px;
}

.li-nav {
    list-style-type: none;
    color: white;
}

header, footer {
    max-width: 1926px;
    background: blue;
}

.moldura {
    border: 1px solid black;
    padding: 15px;
    max-height: 712px;
    max-width: 457px;
}

.div-form {
    padding: 15px;
    max-width: 490px;
    max-height: 827px;
    background: turquoise;
    margin-bottom: 100px;
}

.btn-curriculo {
    margin-top: 12px;
    display: flex;
    justify-content: right;
}

.fundo-azul {
    background: royalblue;
    height: 1122px;
    max-width: 250px;
    margin-top: 127px;
    flex-wrap: wrap;
}

.img-body {
    max-height: 390px;
    max-width: 390px;
}

.corpo-conteudo {
    gap: 160px;
    max-width: 1266px;
    flex-wrap: wrap;
}

@media (max-width: 899px)
{
    .fundo-azul, .img-body, .corpo-lado-direito
    {
        display: none;
        height: 0px;
    }
    .corpo-conteudo 
    {
        gap: 0px;
    }
}

.corpo-lado-esquerdo {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.corpo {
    max-width: 900px;
    flex-wrap: wrap;
}

.corpo-lado-direito {
    flex-wrap: wrap;
}

.p-voltar {
    margin: 50px 0;
}

#vagas {
    margin-bottom: 35px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

#titulo-vaga, #corpo-requisitos, #corpo-atividades, #corpo-perfil, #corpo-horario {
    margin-bottom: 30px;
}

#titulo-atividades, #titulo-perfil, #titulo-horario {
    margin-bottom: 10px;
}

#titulo-form {
    margin: 5px 0 20px 0;
}

.input-form {
    margin: 10px 0;
    height: 33px;
}

.col {
    padding: 0 0px 0 15px;
}

.col-bairro, .col-estado {
    margin-right: 15px;
}

#form-bairro, #form-estado {
    width: 213px;
}

#form-num, #form-cidade {
    width: 153px;
}

#col-num, #col-cidade {
    width: 153px;
}

.label-arquivo {
    margin-top: 35px;
    margin-bottom: 12px;
}

#form-arquivo {
    margin-bottom: 42px;
}

.cor-letra {
    color: #314163;
}

#titulo-vaga {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

.fonte-cabecalho {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

.fonte-corpo {
    font-family: 'PT Serif', sans-serif;
    font-size: 19px
}